In [2]:
import pandas as pd
import numpy as np
import os
os.getcwd()

'/Users/Copeland/Public/Fake-News-Detection-Project/Data and Code'

### In this section, I'm examining and cleaning up the separate .csv files so that I can combine them all into one dataframe for analysis.

In [6]:
df1 = pd.read_csv('archive/Fake.csv')
df1['label'] = 'Fake'
del df1['subject']
del df1['date']

In [7]:
df2 = pd.read_csv('archive/True.csv')
df2['label'] = 'True'
del df2['subject']
del df2['date']

In [8]:
df3 = pd.read_csv('fake_or_real_news.csv')
del df3['Unnamed: 0']
df3['label'] = df3['label'].replace(['FAKE', 'REAL'], ['Fake', 'True'])

In [9]:
df4 = pd.read_csv('fake.csv')
df4['label'] = 'Fake'
df4 = df4[['title', 'text', 'label']].copy()

In [22]:
frames = [df1, df2, df3, df4]
data = pd.concat(frames)
data.sample(20)

,title,text,label
19633,HERE’S HOW ONE MAN Stopped Huge Riot Ready To ...,Watch the video below and you ll understand th...,Fake
9552,Renewable energy now exceeds all other forms o...,By Peter Dockrill\nLast year was a huge turnin...,Fake
7536,"Jump in Florida, Nevada early voting could rea...",MIAMI (Reuters) - The man answering a voluntee...,True
19446,Myanmar protesters try to block aid shipment t...,"SITTWE, Myanmar (Reuters) - Buddhist protester...",True
5773,Comment on 4 Fascinating Things Quantum Physic...,4 Fascinating Things Quantum Physics Does In N...,Fake
13091,Britain's Labour says May should consider keep...,LONDON (Reuters) - Britain s opposition Labour...,True
4642,Anchor Accidentally Announces Hillary Clinton...,"Sunday night, an ABC News affiliate in New Yor...",Fake
19411,FACEBOOK HIRES PORN STAR And Husband Accused O...,Facebook has announced plans to check for fak...,Fake
22725,"Meredith Corp. and Koch Money Buys Time Inc., ...",21st Century Wire says News broke Sunday night...,Fake
12048,Philippines says Maoist rebels attacked soldie...,MANILA (Reuters) - Maoist rebels attacked sold...,True
11108,USA TODAY Caught Fabricating Story About Innoc...,More fake news pushing a leftist agenda If you...,Fake
9164,Obama calls Orlando nightclub shooting an atta...,WASHINGTON (Reuters) - President Barack Obama ...,True
3764,The Factless Fact-Checkers,"Go to Article \nDaniel Greenfield, a Shillman ...",Fake
8884,The White House Has Issued An Official Respon...,After the release of Making a Murderer by Netf...,Fake
3562,WATCH: Reince Priebus Gives The Stupidest Rea...,"Reince Priebus, the soon-to-be ex-chairman of ...",Fake
1766,"WATCH: CNN Host Stuns Media, Says Clinton’s Te...",WikiLeaks Destroys Hillary Mouthpiece Donna Br...,Fake
12403,"Donald Trump Defeats Hillary Clinton, Wins 201...",We Are Change \n\nRepublican nominee Donald Tr...,Fake
5914,Father Of Orlando Shooter Says His Son Got ‘A...,The shooter responsible for a mass shooting th...,Fake
5663,Bystander Uses Baseball Bat To Stop Man From ...,A two-year old girl is in critical condition a...,Fake
9539,TREASON: This Election Fraud Goes All the Way ...,JS Mineset’s Bill Holter is back to help docum...,Fake

### Here, I'm just constructing a modified data quality report to help be determine what further cleaning the new dataframe might need, if any.

In [24]:
# Constructing a data quality report for the data
cat_data = {'Feature': ['titel', 'text', 'label'],
            'Count': data.count(),
            '% Missing': data.isnull().sum() * 100 / len(data),
            'Cardinality': data.apply(pd.Series.nunique),
            'Mode': [data.mode()['title'][0], 'null', data.mode()['label'][0]],
            'Mode Freq.': ['14', '769', '39644'],
            'Mode %': [14 / 63552 * 100, 769 / 64186 * 100 , 39644 / 64232 * 100],
    
            'Notes': ['', '', '']}
cat_dqr_df = pd.DataFrame(cat_data)
cat_dqr_df.reset_index(drop=True, inplace=True)
cat_dqr_df

,Feature,Count,% Missing,Cardinality,Mode,Mode Freq.,Mode %,Notes
0,titel,54473,1.143313,53541,Factbox: Trump fills top jobs for his administ...,14,0.022029,
1,text,55057,0.083480,54064,null,769,1.198081,
2,label,55103,0.000000,2,Fake,39644,61.720015,

In [27]:
data.drop_duplicates(inplace = True)
data.info()
dfTrue = data[data['label'] == 'True']
dfFake = data[data['label'] == 'Fake']
dfFake.info()
dfTrue.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55103 entries, 0 to 12998
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   54473 non-null  object
 1   text    55057 non-null  object
 2   label   55103 non-null  object
dtypes: object(3)
memory usage: 1.7+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 30752 entries, 0 to 12998
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   30122 non-null  object
 1   text    30706 non-null  object
 2   label   30752 non-null  object
dtypes: object(3)
memory usage: 961.0+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 24351 entries, 0 to 6334
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   24351 non-null  object
 1   text    24351 non-null  object
 2   label   24351 non-null  object
dtypes: object(3)
memory usage: 761.0+ KB

In [28]:
dfTrue

,title,text,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,True
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,True
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,True
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,True
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,True
...,...,...,...
6324,Alabama Lawmaker: Same-Sex Couples Don’t Deser...,Most conservatives who oppose marriage equalit...,True
6327,GOP Senator David Perdue Jokes About Praying f...,The freshman senator from Georgia quoted scrip...,True
6330,State Department says it can't find emails fro...,The State Department told the Republican Natio...,True
6333,"In Ethiopia, Obama seeks progress on peace, se...","ADDIS ABABA, Ethiopia —President Obama convene...",True
6334,Jeb Bush Is Suddenly Attacking Trump. Here's W...,Jeb Bush Is Suddenly Attacking Trump. Here's W...,True

In [29]:
dfFake

,title,text,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,Fake
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,Fake
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",Fake
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",Fake
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,Fake
...,...,...,...
12994,NaN,It DOES allow you to put a dog face on top of ...,Fake
12995,NaN,Wait till you see what happens to the valuatio...,Fake
12996,NaN,I'm waiting for the one that puts a pussy on m...,Fake
12997,NaN,$4 Billion even after they are known to be kee...,Fake
12998,NaN,of course - how else would they disceminate te...,Fake