In [9]:
import pandas as pd
import numpy as np
import os
os.getcwd()

'/Users/Copeland/Public/Fake-News-Detection-Project/Data and Code'

### In this section, I'm examining and cleaning up the separate .csv files so that I can combine them all into one dataframe for analysis.

In [70]:
df1 = pd.read_csv('/Users/Copeland/Public/Fake-News-Detection-Project/Data and Code/archive/Fake.csv')
df1['label'] = 'Fake'
del df1['subject']
del df1['date']

In [71]:
df2 = pd.read_csv('/Users/Copeland/Public/Fake-News-Detection-Project/Data and Code/archive/True.csv')
df2['label'] = 'True'
del df2['subject']
del df2['date']

In [72]:
df3 = pd.read_csv('fake_or_real_news.csv')
del df3['Unnamed: 0']
df3['label'] = df3['label'].replace(['FAKE', 'REAL'], ['Fake', 'True'])

In [73]:
df4 = pd.read_csv('fake.csv')
df4['label'] = 'Fake'
df4 = df4[['title', 'text', 'label']].copy()

In [123]:
frames = [df1, df2, df3, df4]
data = pd.concat(frames)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64232 entries, 0 to 12998
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   63552 non-null  object
 1   text    64186 non-null  object
 2   label   64232 non-null  object
dtypes: object(3)
memory usage: 2.0+ MB

### Here, I'm just constructing a modified data quality report to help be determine what further cleaning the new dataframe might need, if any.

In [124]:
# Constructing a data quality report for the data
cat_data = {'Feature': ['titel', 'text', 'label'],
            'Count': data.count(),
            '% of Missing': data.isnull().sum() * 100 / len(data),
            'Cardinality': data.apply(pd.Series.nunique),
            'Mode': [data.mode()['title'][0], 'null', data.mode()['label'][0]],
            'Mode Freq.': ['14', '769', '39644'],
            'Mode %': [14 / 63552 * 100, 769 / 64186 * 100 , 39644 / 64232 * 100],
    
            'Notes': ['', '', '']}
cat_dqr_df = pd.DataFrame(cat_data)
cat_dqr_df.reset_index(drop=True, inplace=True)
cat_dqr_df

,Feature,Count,% of Missing,Cardinality,Mode,Mode Freq.,Mode %,Notes
0,titel,63552,1.058662,53541,Factbox: Trump fills top jobs for his administ...,14,0.022029,
1,text,64186,0.071615,54064,null,769,1.198081,
2,label,64232,0.000000,2,Fake,39644,61.720015,

In [132]:
data.drop_duplicates(inplace = True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55103 entries, 0 to 12998
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   54473 non-null  object
 1   text    55057 non-null  object
 2   label   55103 non-null  object
dtypes: object(3)
memory usage: 1.7+ MB